.title-style {
  margin-top: 15px;
  margin-left: 120px;
  margin-right: 120px;
  background-color: #000000;
  color: white;
  height: 60px;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  font-size: xx-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.img-style {
  width: 75px;
  margin: 2px;
}
.head-style {
  background-color: burlywood;
}
#divTable {
  margin-top: 20px;
}
